.calendar--page {
    background-image: url(../css/media/bg-pages/calendar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $color-font;
    height: 100hv;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .calendar--left, .calendar--rigth{
      margin-top: 100px;
    }
  }
  
  .card__calendar {
    color: $color-font;
    display: flex;
    margin: 10px;
  }
  
  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    background-color: $primary-color;
    border-radius: 100px;
    width: fit-content;
  
    h2 {
      font-size: 50px;
    }
  
    h3 {
      font-size: 40px;
    }
  }
  
  .place {
    padding: 10px 40px;
    font-size: 40px;
    background-color: $primary-color;
    width: fit-content;
  }
  
  @media (max-width: 900px) {
    .date {
      h2 {
        font-size: 30px;
      }
  
      h3 {
        font-size: 20px;
      }
    }
  
    .place {
      padding: 10px 10px;
      font-size: 30px;
      background-color: $primary-color;
      width: fit-content;
    }
  
    .calendar--page {
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  
    .calendar--left {
      margin-top: 75px;
    }
  }