.footer {
    background-color: $primary-color;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer_title {
    color: $color-font;
  }
  
  .footer_networks {
    display: flex;
    justify-content: left;
  
    img {
      width: 40px;
      margin: 20px;
      flex-direction: row;
    }
  
    a:hover {
      transform: scale(1.5);
      transition: 0.5s;
    }
  }