.footer {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./media/bg-home/footer.jpg);
    background-position-y: bottom;
  }
  
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer_title {
    color: $color-font;
    background: #00000075;
    padding: 5px;
    border-radius: 5px;
  }
  
  .footer_networks {
    display: flex;
    justify-content: left;
  
    img {
      width: 40px;
      margin: 20px;
      flex-direction: row;
    }
  
    a:hover {
      transform: scale(1.5);
      transition: 0.5s;
    }
  }